@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: 100vw 100vh;
}
h1 {
  color: white;
}
.heart {
  position: fixed;
  top: -1vh;
  left: 50%;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
